:root {
  --primaryColor: #24bca4;
  --secondaryColor: ;
  --fontColor: rgb(43, 43, 43); 
  --sectionPadding: 60px;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 0 10px;
}

/* nav */

nav {
  background-color: transparent;
  padding: 30px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container img {
  width: 100px;
}

nav .container .right {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

nav .container .right ul {
  margin: 0;
  padding: 0;
  width: 60%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  list-style-type: none;
  flex-grow: 1;
}

nav .container .right ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

nav .container .right ul li a:hover {
  color: var(--primaryColor);
}

nav .container .right .icon {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav .container .right .icon img {
  width: 15px;
  filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(83deg) brightness(112%) contrast(99%);
  position: relative;
}

nav .container .right .icon a {
  position: relative;
}

nav .container .right .icon a:first-child:after {
  content: "0";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 16px;
  height: 16px;
  background-color: var(--primaryColor);
  color: white;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* END nav */

/* header */

header {
  background-image: url(../images/back-ground.jpg);
  background-size: cover;
  background-position: center center;
  padding: calc(50vh - (81px / 2)) 0;
  margin-top: -81px;
  color: white;
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 1px 30px black;
}

/* END header */

/* main */

main {
  background-color: #EEE;
  padding: var(--sectionPadding);
}

main .container > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--fontColor);
}

main .container > div:first-child .result {
  text-transform: uppercase;
}

main .container > div:first-child .result span {
  font-weight: bold;
}

main .container > div:first-child select {
  padding: 10px 20px;
  border: none;
  outline: none;
}

main .container div.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  color: var(--fontColor);
  padding: var(--sectionPadding) 0;
  text-align: center;
}

main .container div.cards a {
  width: 32%;
  margin-bottom: 25px;
  position: relative;
  color: black;
  text-decoration: none;
}

main .container div.cards .photo {
  overflow: hidden;
}

main .container div.cards a .card img {
  width: 100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

main .container div.cards a .card img:hover {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}

main .container div.cards a .card p:first-of-type {
  font-weight: bold;
}

main .container div.cards a .card p[class="price"] del {
  color: rgb(145, 145, 145);
}

main .container div.cards a .card.special::after {
  content: "-33%";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 13px;
  color: white;
  background-color: var(--primaryColor);
  padding: 5px 10px;
}

main .container div.cards a .card .stars {
  display: flex;
  justify-content: center;
}

main .container div.cards a .card .stars img {
  width: 15px;
  filter: invert(80%) sepia(58%) saturate(1700%) hue-rotate(341deg) brightness(102%) contrast(102%);
  -webkit-filter: invert(80%) sepia(58%) saturate(1700%) hue-rotate(341deg) brightness(102%) contrast(102%);
}

main .container div.cards a .card .stars img[class="special"] {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

main .container div.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

main .container div.pages div {
  margin-inline-end: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  background-color: var(--primaryColor);
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* END main */

/* footer */

footer {
  background-color: #1a191d;
  padding: var(--sectionPadding) 0 20px 0;
}

footer .container .top {
  padding-bottom: var(--sectionPadding);
  display: flex;
  gap: 50px;
}

footer .container .top div {
  width: calc(100% - (50px*3) / 4);
}

footer .container .top .about img {
  width: 100px;
  margin-top: 20px;
}

footer .container .top h2 {
  margin: 20px 0;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
}

footer .container .top p {
  color: #cfcfcf;
  font-size: 13px;
}

footer .container .top p i {
  color: var(--primaryColor);
  padding-right: 5px;
}

footer .container .top a {
  text-decoration: none;
  display: block;
  color: #cfcfcf;
  font-size: 13px;
  margin: 5px 0;
}

footer .container .top .update input {
  padding: 10px;
  outline: none;
  border: none;
  color: white;
  font-size: 13px;
  background-color: #0f0e11;
}

footer .container .top .update::after {
  content: "\2192";
  position: relative;
  right: 30px;
  color: white;
  cursor: pointer;
}

footer .container .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-top: 5px;
  font-size: 14px;
}

footer .container .bottom span {
  color: var(--primaryColor);
}

footer .container hr {
  width: 100%;
  border: 1px solid rgb(66, 66, 66);
  opacity: 0.3;
}

footer .container .bottom .social {
  display: flex;
  gap: 20px;
}

footer .container .bottom .social img {
  width: 20px;
}

/* END footer */